name: Post Survey

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 3'  # Mercredi à 7h (heure d’hiver)
    - cron: '0 6 * * 5'  # Vendredi à 7h (heure d’hiver)
    - cron: '0 6 * * 0'  # Dimanche à 7h (heure d’hiver)

jobs:
  post-survey:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run the survey script
        run: python post_survey.py
        env:
          TOKEN: ${{ secrets.TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
          GUILD_ID: ${{ secrets.GUILD_ID }}
          ROLE1_ID: ${{ secrets.ROLE1_ID }}
          ROLE2_ID: ${{ secrets.ROLE2_ID }}
          ROLE3_ID: ${{ secrets.ROLE3_ID }}
